{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-12">
			<h3 class="form-title">Liste des Ventes en cours</h3>
			<table id="table">
				<thead>
					<tr>
		       			<th class="mytable">Nom Du Produit</th>
		       			<th class="mytable">Prix unitaire</th>
		       			{% if user.type == "fournisseur" or user.type == "admin" %}
		       				<th class="mytable">Total commande</th>
		       			{% endif %}
		       			{% if user.type == "acheteur" %}
		       				<th>Commande Minimal</th>
		       				<th class="mytable">Vos Commandes</th>
		       			{% endif %}
		       			{% if user.type != "admin" %}
		       				<th class="mytable">Fournisseur</th>
		       			{% endif %}
		       			{% if user.type == "admin" %}
		       				<th> Prix unitaire Commission</th>
		       				<th class="mytable">Montant Commission</th>
		       			{% endif %}
		       			<th class="mytable">Temps Restant</th>
		       			{% if user.type == "acheteur" %}
		       				<th class="mytable">Passer Commande</th>
		       			{% endif %}
		   			</tr>
				</thead>
				<tbody>
					{% set compteur = 0 %}

					{% if tabenchere is empty %}
						<tr>
							<th>Aucun données pour le moment</th>
						</tr>
					{% endif %}

					{% for enchere in tabenchere|reverse %}
						{% if compteur != 3 %}
							<tr>
				       			<th class="mytable">{{ enchere.produit }}</th>
				       			<th class="mytable">{{ enchere.prix }}€</th>
				       			{% if user.type == "fournisseur" or user.type == "admin" %}
				       				<th class="mytable">{{ enchere.totalCommande }}</th>
				       			{% endif %}
		       					{% if user.type == "acheteur" %}
		       						<th>{{ enchere.minicom }}</th>
				       				<th class="mytable" id="cmduser">{{ enchere.commandeUser }}</th>
				       			{% endif %}
				       			{% if user.type != "admin" %}
				       				<th class="mytable"><img src="{{ asset('uploads/logo/' ~ enchere.logoFournisseur) }}" class="logo-pict-tab"></th>
				       			{% endif %}
				       			{% if user.type == "admin" %}
				       				<th>{{ enchere.valCom }}€/u</th>
		       						<th class="mytable">{{ enchere.mtnCom }}€</th>
		       					{% endif %}
				       			<th class="mytable" id="{{ enchere.id }}"></th>
				       			{% if user.type == "acheteur" %}
					       			<th class="mytable">
					       				<input type="text" name="nbrecmd" id="input{{ enchere.id }}"><br>
					       				<p>(Pour valider : appuyer sur entré)</p>
					       			</th>
					       		{% endif %}
					       		<input type="hidden" name="datenotif" id="datenotif" value="{{ "now"|date("d/m/Y") }}">
				       			<input type="hidden" class="state" name="state" id="state{{ enchere.id }}" value="{{ enchere.id }}">
				   			</tr>
				   			<script type="text/javascript">

								var currentdate = new Date();
								var dd = currentdate.getDate();
								var mm = currentdate.getMonth(); //January is 0!
								var yyyy = currentdate.getFullYear();

								var datefin = new Date({{ enchere.annee }}, {{ enchere.mois }}, {{ enchere.jour }});

								$('#{{ enchere.id }}').countdown({until: datefin, compact: true, format: 'dHMS', onExpiry: sellOver, alwaysExpire: true, expiryText: "Vente Terminée"}); 

								function sellOver() { 
									var state = $('#state{{ enchere.id }}').val();

								    $.ajax({
						              type: "POST",
						              url: "{{ path('sellOver') }}", 
						              dataType: "json",
						              data: {state : state},
						              success : function(response) {
						              	console.log(response);
						              }
						            }); 
								}
								$('#input{{ enchere.id }}').keydown(function (e){
								    if(e.keyCode == 13){
								    	var nbrecmd = $('#input{{ enchere.id }}').val();
								    	var idenchere = $('#state{{ enchere.id }}').val();
								    	var datenotif = $('#datenotif').val();
								    	$.ajax({
							              type: "POST",
							              url: "{{ path('command_ajax') }}", 
							              dataType: "json",
							              data: {nbrecmd: nbrecmd, idenchere: idenchere, datenotif: datenotif},
							              success : function(response) {
							              	alert(response);
							              }
							            }); 
								    }
								})
							</script>
							{% set compteur = compteur + 1 %}
						{% endif %}

					{% endfor %}
				</tbody>
			</table>

			<script>
				$(document).ready( function () {
		    		$('#table').DataTable();
				} );
			</script>
		</div>
	</div>

{% endblock %}