{% extends 'base.html.twig' %}

{% block body %}
	{% if enchere.idfournisseur == user.id %}
		<h1 class="form-title">Vous êtes déjà le fournisseur de cette vente !</h1>
	{% else %}
		<div class="col-md-12">
			<div class="col-md-12">
				<h3 class="form-title">Donnez votre prix pour la vente n°{{ enchere.id }}</h3>
			</div>
			<div class="col-md-12 card-form">
				<div class="col-md-12">
			        {% for label, flashes in app.session.flashbag.all %}
			            {% for flash in flashes %}
			                <div class="alert alert-{{ label }}">
			                    {{ flash }}
			                </div>
			            {% endfor %}
			        {% endfor %}
			    </div>
				<div class="col-md-12">
					<div class="col-md-12">
						<p class="form-title">Quel prix voulez vous appliquer ?</p>
					</div> 
					<form action="{{ path('enchere_up', { 'idenchere': enchere.id }) }}" method="post">
						<div class="col-md-12">
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Prix de vente TTC (franco) : </p>
								</div>
								<div class="col-md-12">
									<input type="number" class="price-select" name="newprice" id="newprice" placeholder="Nouveau prix" step="any">
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Prix unitaire net : </p>
								</div>
								<div class="col-md-12">
									<input type="text" class="price-select" name="total" id="total" readonly>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Commission du site : </p>
								</div>
								<div class="col-md-12">
									<input type="text" class="price-select" name="commission" id="commission" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-12 infos-compl">
							<p>RAPPEL : Le prix actuel est de {{ enchere.prix }}€, indiquez une valeur inférieure.</p>
						</div>
						<div class="col-md-12">
							<input type="hidden" name="datenotif" id="datenotif" value="{{ "now"|date("d/m/Y") }}">
							<input type="submit" name="submit" class="btn btn-primary" value="Changer le prix">
						</div>
					</form>
					<div class="col-md-6" style="margin-top:5px; border-top: solid white 1px; padding-top: 5px">
						<a href="{{ path('fiche_enchere', { 'idenchere': enchere.id }) }}" class="btn btn-primary">Retour à la Fiche Vente</a>
					</div>
					<div class="col-md-6" style="margin-top:5px; border-top: solid white 1px; padding-top: 5px">
						<a href="{{ path('all_enchere') }}" class="btn-primary btn">Retour à la liste des ventes</a>
					</div>
				</div>
				<script>
			        $('#newprice').keyup(function() {
			            newprice = $(this).val();

			            $.ajax({
			              type: "POST",
			              url: "{{ path('calcul') }}", 
			              dataType: "json",
			              data: {newprice : newprice},
			              success : function(response) {
			              	var result = response[0];
			              	$('#commission').val(result.com+'€');
			              	$('#total').val(result.prixfourni+'€');
			              }
			            });
			        });
			    </script>
			</div>
		</div>
	{% endif %}

{% endblock %}