{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<h3 class="form-title">Faire une commande sur ce produit</h3>
		<p class="form-title">(Passez une commande sur ce produit entrainera le debut d'une Vente)</p>
	</div>
	<div class="col-md-12 card-form">
			{% for label, flashes in app.session.flashbag.all %}
		        {% for flash in flashes %}
		            <div class="alert alert-{{ label }}">
		                {{ flash }}
		            </div>
		        {% endfor %}
		    {% endfor %}
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form action="{{ path('new_enchere2', { 'idproduct': product.id }) }}" method="post">
				<div class="col-md-12">
					<h4 class="form-title">Infos Produit</h4>
				</div>
				<div class="col-md-6">
					<label>Nom Produit : </label>
				</div>
				<div class="col-md-6">
					<input type="string" name="nomprod" readonly value="{{ product.nom }}">
				</div>
				<div class="col-md-6">
					<label>Prix de vente : </label>
				</div>
				<div class="col-md-6">
					<input type="string" name="prix" readonly value="{{ product.prixminimal }}€">
				</div>
				<div class="col-md-6">
					<label>Commande minimal : </label>
				</div>
				<div class="col-md-6">
					<input type="string" name="mincmd" readonly value="{{ product.commandemaximal }} unités">
				</div>
				<div class="col-md-12">
					<label>La vente durera 3 semaines</label>
				</div>

				<div class="col-md-12">
					<h4 class="form-title"> Votre Commandes : </h4>
				</div>
				<div class="col-md-6">
					<label>Nombre de commandes : </label>
				</div>
				<div class="col-md-6">
					<input type="number" name="cmd" value="" step="any" placeholder="minimum {{ product.commandemaximal }}">
				</div>
				<div class="col-md-12">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<input type="hidden" name="datenotif" id="datenotif" value="{{ "now"|date("d/m/Y") }}">
						<input type="hidden" name="datenew" id="datenew" value="">
						<input type="hidden" name="dateold" id="dateold" value="">
						<input type="hidden" name="fulldate" id="fulldate" value="">

						<script type="text/javascript">
							var currentdate = new Date();
							var ddnew = currentdate.getDate()+5;
							var ddold = currentdate.getDate()+15;
							var ddfin = currentdate.getDate()-9;
							var mm = currentdate.getMonth(); //January is 0!
							var yyyy = currentdate.getFullYear();
							var datenew = new Date(yyyy, mm, ddnew);
							var dateold = new Date(yyyy, mm, ddold);
							var fulldate = new Date(yyyy, mm, ddfin);

							$('#datenew').val(datenew);
							$('#dateold').val(dateold);
							$('#fulldate').val(fulldate);
						</script>
						<input type="submit" name="submit" value="Commander" class="btn btn-primary">
					</div>
					<div class="col-md-4"></div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-12 card-form">
		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
	</div>

{% endblock %}