{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<h3 class="form-title"> Fiche du Produit n° {{ product.id }}</h3>
	</div>
	<div class="col-md-12 card-form">
		<div class="col-md-3">
			<img src="{{ asset('uploads/products/' ~ product.photo) }}" class="product-pict">
		</div>
		<div class="col-md-9">
			<div class="col-md-12">
				<div class="col-md-3">
					<p><strong>Nom du produit :</strong></p> 
				</div>
				<div class="col-md-9">
					<p>{{ product.nom }}</p>
				</div>
				<div class="col-md-3">
					<p><strong>Description produit :</strong></p> 
				</div>
				<div class="col-md-9">
					<p>{{ product.description }}</p>
				</div>
			</div>
			<div class="col-md-12">
				<h3 class="form-title">Infos Vente : </h3><br>
			</div>
			<div class="col-md-12">
				<div class="col-md-12">
					<p>ACHETEUR : Un acheteur doit passez une commande minimal de
					<strong>{{ product.commandemaximal }}</strong> pièces/unités</p>
				</div>
				<div class="col-md-12">
					<p>FOURNISSEUR : Le prix de départ maximum pour ce produit sera de 
					<strong>{{ product.prixminimal }}€</strong> lors de la prochaine enchère.</p>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="col-md-12">
					<h3 class="form-title">Etat Actuel : </h3>
				</div>
				{% if enchere == NULL %}
					<p>Actuellement il n'y a PAS de vente en cours sur ce produit.</p>

					<p>Lors de la dernière vente ce produit fût vendu x,xx€ unité.</p>
				{% else %}
					<h4>Actuellement une vente est en cours : </h4>
					<p>Le prix de vente est de {{ enchere.prix }}€ l'unité</p>
					<hr>
					{% if user.type == "fournisseur" %}
						{% if user.username == fournisseur.username %}
							<p>° Il reste <span id="{{ enchere.id }}" style="background-color:transparent;"></span> à cette enchère. Vous êtes actuellement le fournisseur pour cette enchère.</p>
							<p><a href="{{ path('fiche_enchere', { 'idenchere': enchere.id }) }}">° Fiche vente</a></p>
						{% else %}
							<p>° Il vous reste <span id="{{ enchere.id }}" style="background-color:transparent;"></span> pour baissez le prix et devenir fournisseur de cette vente.</p>
							<p><a href="{{ path('fiche_enchere', { 'idenchere': enchere.id }) }}">° Fiche vente</a></p>
						{% endif %}
					{% elseif user.type == "acheteur" %}
						<p>° Il vous reste <span id="{{ enchere.id }}" style="background-color:transparent;"></span> pour passez des commandes.</p>
						<p><a href="{{ path('fiche_enchere', { 'idenchere': enchere.id }) }}">° Fiche vente</a></p>
					{% else %}
						<p>° Actuellement le fournisseur de cette vente est : {{ fournisseur.username }}</p>
						<p>° Le nombre de commande total s'élève à {{ enchere.totalcommande }}</p>
						<p>° Il reste <span id="{{ enchere.id }}" style="background-color:transparent;"></span> avant la fin de la vente</p>
						<p><a href="{{ path('fiche_enchere', { 'idenchere': enchere.id }) }}">° Fiche vente</a></p>
					{% endif %}
					<hr>

					<script type="text/javascript">

						var currentdate = new Date();
						var dd = currentdate.getDate();
						var mm = currentdate.getMonth(); //January is 0!
						var yyyy = currentdate.getFullYear();

						var datefin = new Date({{ annee }}, {{ mois }}, {{ jour }});

						$('#{{ enchere.id }}').countdown({until: datefin, compact: true, format: 'dHMS', onExpiry: sellOver, alwaysExpire: true, expiryText: "Vente Terminée"}); 

						function sellOver() { 
							var state = $('#state').val();
							$.ajax({
						        type: "POST",
						        url: "{{ path('sellOver') }}", 
						        dataType: "json",
						        data: {state : state},
						        success : function(response) {
						            console.log(response);
						        }
						    }); 
						}
					</script>
				{% endif %}
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a class="btn btn-primary" href="{{ path('show_product') }}">Retour à la Liste des Produits</a>
			</div>
		</div>
	</div>

{% endblock %}