{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<h3 class="form-title">Ajouter un nouveau Produit : </h3>
	</div>
	<div class="col-md-12">
		<div class="col-md-12">
		    {% for label, flashes in app.session.flashbag.all %}
		        {% for flash in flashes %}
		            <div class="alert alert-{{ label }}">
		                {{ flash }}
		            </div>
		        {% endfor %}
		    {% endfor %}
		</div>
		<div class="col-md-12 form-add-member">
			{{ form_start(form) }}
				<div class="col-md-12 card-form">
					<div class="col-md-6">
						{{ form_label(form.nom) }}
	                   	{{ form_errors(form.nom) }}
	                </div>
	                <div class="col-md-6">
	                   	{{ form_widget(form.nom) }}
	                </div>
	                <div class="col-md-6">
						{{ form_label(form.prixminimal) }}
	                   	{{ form_errors(form.prixminimal) }}
	                </div>
	                <div class="col-md-6">
	                   	{{ form_widget(form.prixminimal) }}
	                </div>
	                <div class="col-md-6">
						{{ form_label(form.commandemaximal) }}
	                   	{{ form_errors(form.commandemaximal) }}
	                </div>
	                <div class="col-md-6">
	                   	{{ form_widget(form.commandemaximal) }}
	                </div>
	                <div class="col-md-6">
						{{ form_label(form.description) }}
	                   	{{ form_errors(form.description) }}
	                </div>
	                <div class="col-md-6">
	                   	{{ form_widget(form.description) }}
	                </div>
	                <div class="col-md-6">
						{{ form_label(form.photo) }}
	                   	{{ form_errors(form.photo) }}
	                </div>
	                <div class="col-md-6">
	                   	{{ form_widget(form.photo) }}
	                </div>
	                <div class="col-md-6">
	                   	<input type="submit" name="submit" value="Créer" class="btn btn-primary">
	                </div>
	            </div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}