{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-12">
			<h3 class="form-title">Liste des Produits existant</h3>
			<table id="table">
				<thead>
					<tr>
						<th>Nom du Produit</th>
						<th>Etat</th>
						{% if user.type == 'fournisseur' or user.type == 'admin' %}
							<th>Prix Maximal de Depart</th>
						{% endif %}
						{% if user.type == 'acheteur' %}
							<th>Commande Minimal</th>
							<th>Favoris : </th>
						{% endif %}
						<th>Voir Fiche</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<th>{{ product.nom }}</th>
							{% if product.idenchere != "non" %}
								<th>Une vente est en cours <a href="{{ path('fiche_enchere', { 'idenchere': product.idenchere }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a></th>
							{% else %}
								<th>Aucune vente en cours</th>
							{% endif %}
							{% if user.type == 'fournisseur' or user.type == 'admin' %}
								<th>ce produit ne peut pas dépasser : {{ product.prixminimal }}€/unité</th>
							{% endif %}
							{% if user.type == 'acheteur' %}	
								<th>{{ product.commandemaximal }}</th>
								{% if product.favoris == "oui" %}
									<th style="text-align:center;">
										<span id="fav{{ product.nom }}" class="glyphicon glyphicon-star"></span>
										<span id="fav{{ product.nom }}empty" class="glyphicon glyphicon-star-empty" style="display:none;"></span>
									</th>
								{% else %}
									<th style="text-align:center;">
										<span id="fav{{ product.nom }}empty" class="glyphicon glyphicon-star-empty"></span>
										<span id="fav{{ product.nom }}" class="glyphicon glyphicon-star" style="display:none;"></span>
									</th>
								{% endif %}
							{% endif %}
							<th><a href="{{ path('fiche_product', { 'idproduct': product.id }) }}">Fiche produit</a></th>
						</tr>
						<input type="hidden" name="{{ product.nom }}" value="{{ product.id }}" id="{{ product.nom }}">
						<script>
							var {{ product.nom }} = $("#{{product.nom}}").val();
							$('#fav{{ product.nom }}empty').click(function(){
								$.ajax({
				                    type: "POST",
				                    url: "{{ path('favoris_action') }}",
				                    dataType: "json",
				                    data: {idproduit : '{{ product.id }}' },
				                    success : function(response) {
				                    	$("#fav{{ product.nom }}").css('display','block');
				                    	$("#fav{{ product.nom }}empty").css('display','none');
				                    }
				                });
							});

							$('#fav{{ product.nom }}').click(function(){
								$.ajax({
				                    type: "POST",
				                    url: "{{ path('favoris_action') }}",
				                    dataType: "json",
				                    data: {idproduit : '{{ product.id }}' },
				                    success : function(response) {
				                    	$("#fav{{ product.nom }}").css('display','none');
				                    	$("#fav{{ product.nom }}empty").css('display','block');
				                    }
				                });
							});

						</script>
					{% endfor %}
				</tbody>
			</table>

			<script>
				$(document).ready( function () {
		    		$('#table').DataTable();
				} );
			</script>
		</div>
	</div>

{% endblock %}