{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-md-12">
		<div class="col-md-12">
			<h3 class="form-title">Liste des Produits existant</h3>
			<table id="table">
				<thead>
					<tr>
						<th>Nom du Produit</th>
						<th>Etat</th>
						{% if user.type == 'fournisseur' or user.type == 'admin' %}
							<th>Prix de Vente Maximal</th>
						{% endif %}
						{% if user.type == 'acheteur' %}
							<th>Commande Minimal</th>
						{% endif %}
						{% if user.type == 'acheteur' or user.type == "fournisseur" %}
							<th>Favoris : </th>
						{% endif %}
						<th>Voir Fiche</th>
						{% if user.type == "acheteur" %}
							<th>Lancer vente</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<th>{{ product.nom }}</th>
							{% if product.idenchere != "non" %}
								<th>Une vente est en cours <a href="{{ path('fiche_enchere', { 'idenchere': product.idenchere }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a></th>
							{% else %}
								<th>Aucune vente en cours</th>
							{% endif %}
							{% if user.type == 'fournisseur' or user.type == 'admin' %}
								<th>ce produit ne peut pas dépasser {{ product.prixminimal }}€/unité TTC</th>
							{% endif %}
							{% if user.type == 'acheteur' %}
								<th>{{ product.commandemaximal }}</th>
							{% endif %}
							{% if user.type == 'acheteur' or user.type == "fournisseur" %}	
								{% if product.favoris == "oui" %}
									<th style="text-align:center;">
										<span id="fav{{ product.callback }}" class="glyphicon glyphicon-star"></span>
										<span id="fav{{ product.callback }}empty" class="glyphicon glyphicon-star-empty" style="display:none;"></span>
									</th>
								{% else %}
									<th style="text-align:center;">
										<span id="fav{{ product.callback }}empty" class="glyphicon glyphicon-star-empty"></span>
										<span id="fav{{ product.callback }}" class="glyphicon glyphicon-star" style="display:none;"></span>
									</th>
								{% endif %}
							{% endif %}
							<th><a href="{{ path('fiche_product', { 'idproduct': product.id }) }}">Fiche produit</a></th>
							{% if product.idenchere == "non" and user.type == "acheteur" %}
								<th>
									<a href="{{ path('new_enchere2', { 'idproduct': product.id }) }}">Commander</a>
								</th>
							{% elseif user.type == "acheteur" %}
								<th>Vente en cours</th>
							{% endif %}
						</tr>
						<input type="hidden" name="{{ product.callback }}" value="{{ product.id }}" id="{{ product.callback }}">


						<script>
							var {{ product.callback }} = $("#{{product.callback}}").val();
							$('#fav{{ product.callback }}empty').click(function(){
								$.ajax({
				                    type: "POST",
				                    url: "{{ path('favoris_action') }}",
				                    dataType: "json",
				                    data: {idproduit : '{{ product.id }}' },
				                    success : function(response) {
				                    	$("#fav{{ product.callback }}").css('display','block');
				                    	$("#fav{{ product.callback }}empty").css('display','none');
				                    }
				                });
							});

							$('#fav{{ product.callback }}').click(function(){
								$.ajax({
				                    type: "POST",
				                    url: "{{ path('favoris_action') }}",
				                    dataType: "json",
				                    data: {idproduit : '{{ product.id }}' },
				                    success : function(response) {
				                    	$("#fav{{ product.callback }}").css('display','none');
				                    	$("#fav{{ product.callback }}empty").css('display','block');
				                    }
				                });
							});

						</script>
					{% endfor %}
				</tbody>
			</table>

			<script>
				$(document).ready(function() {
				    $('#table').DataTable( {
				        "language": {
				            "lengthMenu": "Montrer _MENU_ résultats par page",
				            "zeroRecords": "Aucun résultat",
				            "info": "Page _PAGE_ sur _PAGES_",
				            "infoEmpty": "Pas de données",
				            "search":         "Chercher:",
				            "paginate": {
						        "first":      "Première",
						        "last":       "Dernière",
						        "next":       "Suivante",
						        "previous":   "Précedente"
						    },
				            "infoFiltered": "(filtrer sur un total de _MAX_ lignes)"
				        }
				    } );
				} );
			</script>
		</div>
	</div>

{% endblock %}