<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OrthoDeal !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- FONT FAMILY -->
        <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet"> 
         <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"> 

        <!-- CSS CALL -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.countdown.css') }}"> 

        <!-- JAVASCRIPT CALL -->
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}" ></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.plugin.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('js/jquery.countdown.js') }}"></script>
    </head>
    <body>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <!-- Fixed navbar -->
          <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{ path('dashboard') }}">
                            OrthoDeal
                        </a>
                    </li>
                    {% if user.type == "fournisseur" or user.type == "acheteur" %}
                        <li>
                            {% if user.notifs != 0 %}
                                <a href="#"><span class="glyphicon glyphicon-asterisk"></span> Notifications <span class="badge">{{ user.notifs }}</span></a>
                            {% else %}
                                <a href="#"><span class="glyphicon glyphicon-asterisk"></span> Notifications <span class="badge"></span></a>
                            {% endif %}
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('profil', { 'iduser': user.id }) }}"><span class="glyphicon glyphicon-user"></span> Mon Profil</a>
                    </li>
                    <li>
                        <a href="{{ path('show_product') }}"><span class="glyphicon glyphicon-th-list"></span> Liste des Produits</a>
                    </li>
                    {% if user.type == "admin" %}
                        <li>
                            <a href="{{ path('show_user') }}"><span class="glyphicon glyphicon-th-list"></span> Liste des membres</a>
                        </li>
                        <li>
                            <a href="{{ path('new_user') }}"><span class="glyphicon glyphicon-plus"></span> Ajoutez un membre</a>
                        </li>
                        <li>
                            <a href="{{ path('new_product') }}"><span class="glyphicon glyphicon-floppy-open"></span> Ajoutez un produit</a>
                        </li>
                        <li>
                            <a href="{{ path('new_enchere') }}"><span class="glyphicon glyphicon-modal-window"></span> Lancer une enchère</a>
                        </li>
                        <li>
                            <a href="{{ path('all_enchere') }}"><span class="glyphicon glyphicon-euro"></span> Ventes en cours</a>
                        </li>
                    {% endif %}
                    {% if user.type != "admin" %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-euro"></span> Ventes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('all_enchere') }}"> Toutes les Ventes</a></li> 
                                {% if user.type == "fournisseur" %}
                                    <li><a href="{{ path('my_enchere') }}"> Mes Ventes en cours</a></li>
                                {% elseif user.type == "acheteur" %}
                                    <li><a href="{{ path('my_enchere') }}"> Mes Achats en cours</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.type == "acheteur" %}
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-star"></span> Mes favoris</a>
                        </li>
                    {% endif %}
                    {% if user.type == "fournisseur" %}
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-envelope"></span> Faire une demande d'enchère</a>
                        </li>
                    {% endif %}
                    <li class="testtttt">
                        <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove"></span> Se déconnecter</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
