<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OrthoDeal !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- CSS CALL -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <!-- JAVASCRIPT CALL -->
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}" ></script>
    </head>
    <body>
        <!-- Fixed navbar -->
          <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            OrthoDeal
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Mon Profil</a>
                    </li>
                    <li>
                        <a href="#">Mes enchères en cours</a>
                    </li>
                    <li>
                        <a href="#">Mes favoris</a>
                    </li>
                    <li>
                        <a href="#">Faire une suggestion</a>
                    </li>
                    <li>
                        <a href="#">Deconexion</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
