{% extends 'base.html.twig' %}

{% block body %}
		<div class="col-md-12">
			<div class="col-md-12">
				<h3 class="form-title">Donnez votre prix pour le produit n°{{ favori.idproduit }}</h3>
			</div>
			<div class="col-md-12 card-form">
				<div class="col-md-12">
			        {% for label, flashes in app.session.flashbag.all %}
			            {% for flash in flashes %}
			                <div class="alert alert-{{ label }}">
			                    {{ flash }}
			                </div>
			            {% endfor %}
			        {% endfor %}
			    </div>
				<div class="col-md-12">
					<div class="col-md-12">
						<p class="form-title">A quelle prix vendez vous ce produit ? ?</p>
					</div> 
					<form action="{{ path('favoris_price', { 'idfavori': favori.id }) }}" method="post">
						<div class="col-md-12">
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Prix de vente TTC (franco) : </p>
								</div>
								<div class="col-md-12">
									<input type="number" class="price-select" name="newprice" id="newprice" placeholder="Nouveau prix" step="any">
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Prix unitaire net : </p>
								</div>
								<div class="col-md-12">
									<input type="text" class="price-select" name="total" id="total" readonly>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12">
									<p>Commission du site : </p>
								</div>
								<div class="col-md-12">
									<input type="text" class="price-select" name="commission" id="commission" readonly>
								</div>
							</div>
						</div>
						<div class="col-md-12 infos-compl">
							{% if favori.prixvente != NULL %}
								<p>RAPPEL : Le prix actuel est de {{ favori.prixvente }}€ TTC, indiquez votre nouveau prix.</p>
							{% else %}
								<p>Vous n'avez pas encore choisi un prix de vente sur ce produit.</p>
							{% endif %}
						</div>
						<div class="col-md-12">
							<input type="hidden" name="datenotif" id="datenotif" value="{{ "now"|date("d/m/Y") }}">
							<input type="submit" name="submit" class="btn btn-primary" value="Changer le prix">
						</div>
					</form>
				</div>
				<script>
			        $('#newprice').keyup(function() {
			            newprice = $(this).val();

			            $.ajax({
			              type: "POST",
			              url: "{{ path('calcul') }}", 
			              dataType: "json",
			              data: {newprice : newprice},
			              success : function(response) {
			              	var result = response[0];
			              	$('#commission').val(result.com+'€');
			              	$('#total').val(result.prixfourni+'€');
			              }
			            });
			        });
			    </script>
			</div>
		</div>

{% endblock %}