{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		{% if user.id == member.id %}
			<h3 class="prl-wlcme">Bienvenue sur votre profil {{ member.username }}</h3>
		{% else %}
			<h3 class="prl-wlcme">Bienvenue sur le profil de {{ member.username }}</h3>
		{% endif %}
	</div>
	<div class="col-md-12">
		<div class="col-md-12 profil-card">
			<div class="col-md-2">
				{% if member.logo != null %}
					<p><img class="logo-user" src="{{ asset('uploads/logo/' ~ member.logo) }}" /></p>
				{% else %}	
					<p><img class="logo-user" src="{{ asset('img/nologo.jpeg') }}" /></p>
				{% endif %}
			</div>
			<div class="col-md-4">
				<div class="col-md-12">
					<h5 class="infos-title-prl">Informations du profil :</h5> 
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Nom : 
					</div>
					<div class="col-md-6">
						{{ member.nom }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Telephone : 
					</div>
					<div class="col-md-6">
						{{ member.telephone }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Email : 
					</div>
					<div class="col-md-6">
						{{ member.email }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Email Bis : 
					</div>
					<div class="col-md-6">
						{{ member.mailbis }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<h5 class="infos-title-prl">Coordonées :</h5> 
				</div>
				<div class="col-md-6">
					Type : 
				</div>
				<div class="col-md-6">
					{{ member.type }}
				</div>
				<div class="col-md-6">
					Adresse de facturation : 
				</div>
				<div class="col-md-6">
					{{ member.adressefactu }}<br>
					{{ member.cpfactu }}, {{ member.villefactu }}
				</div>
				<div class="col-md-6">
					Adresse de livraison : 
				</div>
				<div class="col-md-6">
					{{ member.adresselivraison }}<br>
					{{ member.cplivraison }}, {{ member.villelivraison }}
				</div>
			</div>
				{% if member.type == "fournisseur" %}
					<p>Condition Générale de vente de ce fournisseur : {{ member.infos }}</p>
				{% endif %}
		</div>
	</div>
	<div class="col-md-12">
		{% if favoris != NULL %}
			<div class="col-md-5 profil-card">
				{% if user.id == member.id %}
					<h3>Les produits que je suis :</h3>
				{% else %}
					<h3>Les produits que {{ member.username }} suis :</h3>
				{% endif %}
				<table id="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Enchere en cours</th>
							<th>Page produit</th>
						<tr>
					</thead>
					<tbody>
						{% for favori in favoris %}
							<tr>
								<th>{{ favori.nom }}</th>
								{% if favori.idenchere != "non" %}
									<th>Une vente est en cours <a href="{{ path('fiche_enchere', { 'idenchere': favori.idenchere }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a></th>
								{% else %}
									<th>Aucune vente en cours</th>
								{% endif %}
								<th><a href="{{ path('fiche_product', { 'idproduct': favori.id }) }}">Fiche produit</a></th>
							<tr>
						{% endfor %}
					</tbody>
				</table>

				<script>
					$(document).ready( function () {
		    			$('#table').DataTable();
					} );
				</script>
			</div>
		{% endif %}
	</div>
{% endblock %}