{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		{% if user.id == member.id %}
			<h3 class="prl-wlcme">Bienvenue sur votre profil {{ member.username }}</h3>
		{% else %}
			<h3 class="prl-wlcme">Bienvenue sur le profil de {{ member.username }}</h3>
		{% endif %}
	</div>
	<div class="col-md-12">
		<div class="col-md-12 profil-card">
			{% for label, flashes in app.session.flashbag.all %}
		        {% for flash in flashes %}
		            <div class="alert alert-{{ label }}">
		                {{ flash }}
		            </div>
		        {% endfor %}
		    {% endfor %}
			<div class="col-md-2">
				{% if member.logo != null %}
					<p><img class="logo-user" src="{{ asset('uploads/logo/' ~ member.logo) }}" /></p>
				{% else %}	
					<p><img class="logo-user" src="{{ asset('img/nologo.jpeg') }}" /></p>
				{% endif %}
				{% if user.id == member.id %}
					<a href="{{ path('modif_user', { 'iduser': member.id }) }}" class="btn btn-primary">Modifier le Profil</a>
				{% endif %}
			</div>
			<div class="col-md-4">
				<div class="col-md-12">
					<h5 class="infos-title-prl">Informations du profil :</h5> 
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Nom : 
					</div>
					<div class="col-md-6">
						{{ member.nom }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Telephone : 
					</div>
					<div class="col-md-6">
						{{ member.telephone }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Email : 
					</div>
					<div class="col-md-6">
						{{ member.email }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						Email Bis : 
					</div>
					<div class="col-md-6">
						{{ member.mailbis }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<h5 class="infos-title-prl">Coordonées :</h5> 
				</div>
				<div class="col-md-6">
					Type : 
				</div>
				<div class="col-md-6">
					{{ member.type }}
				</div>
				<div class="col-md-6">
					Adresse de facturation : 
				</div>
				<div class="col-md-6">
					{{ member.adressefactu }}<br>
					{{ member.cpfactu }}, {{ member.villefactu }}
				</div>
				<div class="col-md-6">
					Adresse de livraison : 
				</div>
				<div class="col-md-6">
					{{ member.adresselivraison }}<br>
					{{ member.cplivraison }}, {{ member.villelivraison }}
				</div>
			</div>
				{% if member.type == "fournisseur" %}
					<p>Condition Générale de vente de ce fournisseur : {{ member.infos }}</p>
				{% endif %}
		</div>
	</div>
	<div class="col-md-12">
		{% if favoris != NULL %}
			<div class="col-md-7 profil-card">
				{% if user.id == member.id %}
					{% if user.type == "acheteur" %}
						<h3>Mes favoris :</h3>
					{% elseif user.type == "fournisseur" %}
						<h3>Les produits que je vend : </h3>
					{% endif %}
				{% else %}
					<h3>Les produits que {{ member.username }} suis :</h3>
				{% endif %}
				<table id="table">
					<thead>
						<tr>
							<th>Nom</th>
							{% if user.type == "acheteur" %}
								<th>Vente en cours</th>
							{% endif %}
							{% if user.type == "fournisseur" %}
								<th>Meilleur Prix de vente</th>
								<th>Votre prix de vente</th>
								<th>Rentrer un prix</th>
							{% endif %}
							<th>Page produit</th>
						<tr>
					</thead>
					<tbody>
						{% for favori in favoris %}
							<tr>
								<th>{{ favori.nom }}</th>
								{% if user.type == "acheteur" %}
									{% if favori.idenchere != "non" %}
										<th>Une vente est en cours <a href="{{ path('fiche_enchere', { 'idenchere': favori.idenchere }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a></th>
									{% else %}
										<th>Aucune vente en cours</th>
									{% endif %}
								{% endif %}
								{% if user.type == "fournisseur" %}
									<th>{{ favori.prixprod }}</th>
									<th>{{ favori.prixfourni }}</th>
									<th><a href="{{ path('favoris_price', { 'idfavori': favori.idfav }) }}">Rentrer un prix</a></th>
								{% endif %}
								<th><a href="{{ path('fiche_product', { 'idproduct': favori.id }) }}">Fiche produit</a></th>
							<tr>
						{% endfor %}
					</tbody>
				</table>

				<script>
					$(document).ready(function() {
					    $('#table').DataTable( {
					        "language": {
					            "lengthMenu": "Montrer _MENU_ résultats par page",
					            "zeroRecords": "Aucun résultat",
					            "info": "Page _PAGE_ sur _PAGES_",
					            "infoEmpty": "Pas de données",
					            "search":         "Chercher:",
					            "paginate": {
							        "first":      "Première",
							        "last":       "Dernière",
							        "next":       "Suivante",
							        "previous":   "Précedente"
							    },
					            "infoFiltered": "(filtrer sur un total de _MAX_ lignes)"
					        }
					    } );
					} );
				</script>
			</div>
		{% endif %}
	</div>
{% endblock %}