{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<h3 class="form-title">Notifications : </h3>
	</div>
	<div class="col-md-12">
		{% for notif in notifs|reverse %}
			{% if notif.idproduit != NULL %}
				<div class="col-md-12 notifs-card">
					<p>Reçu le : {{ notif.createdAt }}</p><br>
					<p>{{ notif.message }}, acceder a la page du produit : <a href="{{ path('fiche_product', { 'idproduct': notif.idproduit }) }}">ici</a></p>
				</div>
			{% else %}
				<div class="col-md-12 notifs-card">
					<p>Reçu le : {{ notif.createdAt }}</p><br>
					<p>{{ notif.message }} : <a href="{{ path('fiche_enchere', { 'idenchere': notif.idenchere }) }}">ici</a></p>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}