<h2>Details de la Vente n° {{ enchere.id }}</h2>
<div>
    <h3>Vente terminé le {{ "now"|date("d/m/Y") }}</h3>
    <div>
        <strong>Nombre de commandes Total : </strong> {{ enchere.totalcommande }}</br>
        <strong>Prix unitaire final : </strong> {{ enchere.prix }}
    </div>
    <div>
        Montant Total : <p>{{ enchere.prix * enchere.totalcommande }}</p><br>
        Commission : <p>{{ com * enchere.totalcommande }}</p><br>
        Montant net Fournisseur : <p>{{ prixfourni * enchere.totalcommande }}</p><br>
    </div>
    <div>
        <strong>Il y a {{ nbreLivraison }} points de livraison :</strong><br>
    </div>
    <div>
        <h3>Listes des acheteurs</h3>
        {% for $acheteur in $tabAcheteurs %}
            <h4 style="text-align:center;">Acheteur : </h4>
            <strong>Nom : {{ acheteur.nom }}</strong><br>
            <strong>Email : {{ acheteur.email }}</strong><br>
            <strong>Telephone : {{ acheteur.telephone }}</strong><br>
            <strong>Nombre de commandes : {{ acheteur.commandes }}</strong><br>
            <strong>Montant Total</strong> : <p>{{ enchere.prix * enchere.acheteur.commandes }}</p><br>
            <strong>Commission</strong> : <p>{{ com * enchere.acheteur.commandes }}</p><br>
            <strong>Montant net Fournisseur</strong> : <p>{{ prixfourni * enchere.acheteur.commandes }}</p><br>
            <strong>Adresse de facturation : {{ acheteur.adresseFactu }}</strong><br>
            <strong>Cope postal de facturation : {{ acheteur.cpFactu }}</strong><br>
            <strong>Ville de facturation : {{ acheteur.villeFactu }}</strong><br>
            <strong>Adresse de livraison : {{ acheteur.adresseLivr }}</strong><br>
            <strong>Cope postal de livraison : {{ acheteur.cpLivr }}</strong><br>
            <strong>Ville de livraison : {{ acheteur.villeLivr }}</strong><br>
        {% endfor %}
    </div>

</div>